html {
	width: 100%;
	height: 100%;
	/* min-height: 100%; */
}

body {
	background: url(../img/bg/sign_bg.png) no-repeat left top;
	background-size: cover;
	margin-top: 150px;
	height: 100%;
	min-height: 100%;
	/*èµæžå·¦å³éƒ½å±…ä¸­*/
	display: -ms-flex;
	display: -webkit-flex;
	display: flex;
	-ms-flex-align: center;
	-webkit-align-items: center;
	-webkit-box-align: center;
	align-items: center;
	background-attachment: fixed;
	min-width: 700px;
	font-family: "å¾®è½¯é›…é»‘";
	/*æ»šåŠ¨æ¡æ ·å¼*/
}

.right {
	float: right;
}

.left {
	float: left;
}

button {
	border: none;
	color: #fff;
	outline: none;
}

.llist {
	background: url(../img/bg/communicate_bg.png) no-repeat left top;
	min-height: 600px;
	min-width: 94px;
	background-size: 100% 100%;
	color: #fff;
	padding: 0;
	z-index: 1;
	position: relative;
}

.llist img {
	width: 80%;
	margin-top: 34px;
	margin-left: 10%;
}

.llist p {
	white-space: nowrap;
	margin-top: 5px;
	text-align: center;
}

.clist {
	background: #f9f9f9;
	height: 600px;
	border: 1px solid #ededed;
	padding: 0;
	overflow-y: scroll;
}


/*ä¸­é—´é‚£ä¸€å—*/

.addAct {
	padding-left: 5px;
	color: #bcb2a6;
}

.contactPerson {
	height: 30px!important
}

.rlist {
	background: #f8fcff;
	min-height: 500px;
	border: 1px solid #ededed;
	border-left: none;
	min-height: 600px;
}

.nav {
	margin-top: 29px;
	font-size: 15px;
}

.nav>li {
	padding: 0 8px;
	height: 50px;
	line-height: 50px;
	cursor: pointer;
}

.nav .active {
	border-left: 2px solid #fa9999;
	background-color: #d6434c;
}

.notice {
	width: 18px;
	height: 18px;
	border-radius: 50%;
	border: none;
	background: #fad1a1;
	outline: none;
	color: #fff;
	position: relative;
	top: -58px;
	left: 62px;
	line-height: 18px;
	display: inline-block;
	text-align: center;
}

.noticeQ {
	height: 15px;
	border-radius: 82px;
	border: none;
	background: #fe5553;
	outline: none;
	color: #fff;
	line-height: 11px;
	display: inline-block;
	text-align: center;
	margin-left: 5px;
	padding: 2px 4px;
	font-weight: 100;
}

.navBot {
	font-size: 12px;
	text-align: left;
	/* padding-left: 10px; */
	background: #c7c7c7;
	border-radius: 5px;
	width: 106%;
	/* z-index: 4; */
	margin-left: -3%;
	margin-top: 56px;
	/* z-index: 2; */
	margin-bottom: 5px;
	color: #000;
	padding: 4px 0 4px 0;
	border: 1px solid #c7c7c7;
}

.navBot li {
	height: 22px;
	padding-left: 10px;
	background: #fff;
	cursor: pointer;
}

.navBot li:active {
	background: #d0bfae;
}

.bottomBut {
	position: relative;
	bottom: -40px;
	text-align: center;
}


/*ÃƒÂ§Ã‚Â¬Ã‚Â¬ÃƒÂ¤Ã‚ÂºÃ…â€™ÃƒÂ©Ã†â€™Ã‚Â¨ÃƒÂ¥Ã‹â€ Ã¢â‚¬Â */

.searchDiv input {
	background: url(../img/search.png) no-repeat 10px 6px #d9e1e6;
	text-align: center;
	border: none;
	width: 80%;
	border-radius: 19px;
	font-size: 14px;
	height: 30px;
	line-height: 30px;
	margin-top: 15px;
	text-indent: 2em;
	padding-right: 15px;
	outline: none;
	margin-left: 10%;
}

.discuss {
	width: 100%;
	margin-top: 18px;
}

.discuss li {
	padding: 4px 10px 4px 16px;
	display: block;
	width: 100%;
	height: 53px;
}

.discuss .active {
	background: #f6e2e6;
}

.discuss img {
	float: left;
	padding-right: 10px;
}

.discuss div {
	/* float: left; */
}

.discuss .zimu {
	padding-top: 17px;
}

.discuss .zimu span {
	height: 10px;
	line-height: 10px;
	color: #9b9b9b;
	display: inline-block;
}

.discuss .zimu span:last-child {
	width: 92%;
	border-bottom: 1px solid #e6e6e6;
	/* margin-left: 5px; */
	height: 9px;
	vertical-align: text-top;
	margin-right: -11px;
	float: right;
	/* text-align: right; */
}

.discuss .zimu span:after {
	clear: both;
}

.time {
	float: right;
	color: #aeaeae;
}


/*placholderå­—ä½“çš„å˜åŒ–*/

:-moz-placeholder {
	/* Mozilla Firefox 4 to 18 */
	color: #8298ae;
}

::-moz-placeholder {
	/* Mozilla Firefox 19+ */
	color: #8298ae;
}

input:-ms-input-placeholder,
textarea:-ms-input-placeholder {
	color: #8298ae;
}

input::-webkit-input-placeholder,
textarea::-webkit-input-placeholder {
	color: #8298ae;
}


/*ç¬¬ä¸‰éƒ¨åˆ†*/

.rlist {
	padding-left: 13px;
	padding-right: 14px;
}

.chats {
	height: 370px;
	overflow-y: scroll;
}

.chats >div {
	clear: both;
	margin-bottom: 20px;
	overflow: overlay;
}

.receiver {
	background: #f5f9ff;
	border-bottom: 1px solid #f2f2f2;
	margin-top: 25px;
	height: 49px;
	margin-bottom: 12px;
}

.receiver span {
	padding-left: 20px;
}

.receiver .name {
	padding-left: 14px;
}

.oneText {
	/* height: 80px; */
}

.oneText p {
	padding-left: 50px;
	color: #9097a0;
	margin-bottom: 4px;
}


}
.oneText img {
	float: left;
}
.dialog {
	float: left;
	border: 1px solid #e1e1e1;
	padding: 5px 9px;
	border-radius: 5px;
	margin-left: 10px;
	/* margin-top: 4px; */
	
	max-width: 80%;
}
.contentText {
	/* height: 33px; */
	/* position: absolute; */
}
.contentText img {
	width: 120px;
	height: 120px;
	vertical-align: top;
}
.sjx {
	width: 10px;
	height: 10px;
	border: 1px solid #e1e1e1;
	display: inline-block;
	margin-left: -15px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	background: #f8fcff;
	border-right: none;
	border-top: none;
	border-radius: 2px;
	float: left;
	margin-top: 10px;
}
.oneTextR {
	float: right;
	/* height: 80px; */
}
.oneTextR p {
	padding-right: 55px;
	color: #9097a0;
	text-align: right;
	/* position: relative; */
}

}
.oneTextR img {
	float: left;
}
.oneTextR .dialog {
	/* float: left; */
	border: 1px solid #e1e1e1;
	padding: 5px 9px;
	border-radius: 5px;
	margin-right: 10px;
	/* min-height: 33px; */
	margin-top: 4px;
	/* position: relative; */
	/* clear: both; */
}
.oneTextR .sjx {
	width: 10px;
	height: 10px;
	border: 1px solid #e1e1e1;
	display: inline-block;
	margin-left: 4px;
	transform: rotate(45deg);
	-ms-transform: rotate(45deg);
	-moz-transform: rotate(45deg);
	-webkit-transform: rotate(45deg);
	-o-transform: rotate(45deg);
	background: #f8fcff;
	border-left: none;
	border-bottom: none;
	border-radius: 2px;
	margin-right: -14px;
	/* float: right; */
	/* position: relative; */
	/* top: 0; */
	/* right: 0; */
	float: right;
	margin-top: 3px;
}
.historyTime {
	text-align: center;
	color: #9ea1a2;
}
.inputText {
	height: 90px;
	border-top: 1px solid #e1e1e1;
	margin-left: -13px;
	margin-right: -14px;
	padding-top: 10px;
	padding-left: 10px;
}

/*è¯­éŸ³æŒ‰é’®*/
.audioB {
	background: #fff;
	border: 1px solid #9ea1a2;
	border-radius: 11px;
	color: #9ea1a2;
	height: 18px;
	line-height: 5px;
	padding-right: 11px;
	font-size: 12px;
	width: 65px;
	margin-left: -1px;
	/* margin-top: 28px; */
}
.sendB {
	background: #fff;
	border: 1px solid #9ea1a2;
	border-radius: 2px;
	color: #9ea1a2;
	font-size: 14px;
	margin-top: 34px;
	padding: 1px 17px;
	width: 65px;
}
#im_send_content {
	/* background-color: white; */
	height: 100px;
	max-width: 750px;
	font-size: 18px;
	font-family: 'Helvetica Neue',
	Helvetica,
	Arial,
	sans-serif;
	margin-top: 10px;
	overflow-y: auto;
	overflow-x: hidden;
	/*width: 600px;*/
}
.inputText pre {
	background: none;
	border: none;
	outline: none;
}

/*æœ€å³è¾¹çš„éŸ³è§†é¢‘*/
.audioAline {
	width: 300px;
	height: 110px;
	background: #fff;
}
.audioAline .imgDiv {
	width: 110px;
	height: 110px;
	float: left;
	background: #55d5b7;
}
.audioAline .imgDiv img {
	width: 100%;
	height: 100%;
}
.audioAline .audioDiv {
	float: left;
	padding-left: 10px;
	color: #616161;
}
.name {
	color: #000;
	margin: 12px 0 9px 16px;
	font-size: 18px;
}
.color6060 {
	color: #606060;
	margin-left: 5px;
}
.color6161 {
	color: #ef6161;
	margin-left: 5px;
}
.color550 {
	color: #5505b7;
}
.audio_icon {
	margin-left: 16px;
}
.audioBtn {
	margin-top: 12px;
}
.audioBtn button {
	float: right;
	color: #fff;
	padding: 3px 25px;
	border: none;
	margin-right: 12px;
	background: #0abc5f;
}
.audioBtn button:last-child {
	background: #ef6361;
}
.audioBtn span {
	margin-left:17px;
	margin-right: 7px;
}

/*视频通话*/
.videoPhone {
	width: 400px;
	margin: 0 auto;
	text-align: center;
	padding-top: 35px;
}
.videoPhone p.name {
	font-size: 24px;
	color:#000;
	padding-top: 11px;
}
.videoPhone p {
	font-size: 14px;
	color:#919191;
}
.videoPhone>span {
	font-size: 14px;
	color:#919191;
	line-height: 30px;
	margin: 0 6px;
}
.videoPhone button {
	height: 43px;
	line-height: 43px;
}
.videoPhone .talkBtn {
	background: #ef6161;
	padding: 0 45px;
	margin-bottom: 7px;
	margin-top: 22px;
}
.videoPhone .talkBtn:hover {
	background: #f8c0be;
}
.videoPhone .conversationBtn {
	background: #09bd5f;
	padding: 0 10px;
	margin-right: 6px;
}
.videoPhone .conversationBtn:hover {
	background: #7ce3c9;
}
.videoPhone .videoBtn {
	background: #04a9e0;
	padding: 0 10px;
}
.videoPhone .videoBtn:hover {
	background: #8ae2fd;
}

/*弹出框*/
#personInfor {
	text-indent: 1.5em;
}
#personInfor .modal-dialog .modal-header {
	color: #fff;
	border: 1px solid #f93b22;
	background:#ef6361;
	padding: 10px;
	font-size: 14px;
}
#personInfor .modal-content {
	width: 330px;
	margin: 0 auto;
}
#personInfor input,
textarea {
	border: 1px solid #b27e30;
	width: 250px;
}
#personInfor textarea {
	height: 92px;
	resize: none;
}
#personInfor .save{
	width: 250px;
	text-align: center;
	background: #ef6361;
	margin: 15px 0;
	margin-left: 30px;
	font-size: 16px;
	height: 38px;
}
#group .modal-header {
	background: url(../img/bg/group_set_bg.png) no-repeat;
	background-size: cover;
	height: 120px;
}
#group .modal-header h4 img {
	vertical-align: baseline;
	margin-left: 5px;
	cursor: pointer;
}
#group .modal-title {
	margin-top: 30px;
	margin-left: 34px;
	color: #fff;
	font-size: 20px;
}
#group .modal-content {
	width: 380px;
	margin: 0 auto;
}
#group .modal-body {
	padding-left: 20px;
}
#group .groupname {
	height: 170px;
}
#group .groupname ul li {
	float: left;
	height: 60px;
	margin: 5px;
	width: 47px;
}
#group ul li img {
	width: 40px;
	height: 40px;
}
#group ul li span {
	width: 47px;
	overflow: hidden;
	word-break: keep-all;
	text-overflow: ellipsis;
	display: inline-block;
	text-align: center;
}
.dismiss {
	width: 300px;
	text-align: center;
	background: #ef6361;
	margin: 15px 0;
	margin-left: 25px;
	font-size: 16px;
	height: 38px;
	cursor: pointer;
}
#group p {
	color: #979797;
	font-size: 14px;
}
#group .setting {
	margin-bottom: 20px;
}
.announce {
	margin-top: 20px;
}
.green {
	color: #09b660!important;
	cursor: pointer;
}
.greenlg {
	font-size: 16px;
	font-weight: bold;
}
input[type="radio"] {
	margin: 3px 3px 0px 5px;
	display: none;
}
input[type="checkbox"] {
	margin: 3px 3px 0px 5px;
	display: none;
}
.groupSet label {
	color: #181818;
	padding-left: 20px;
	margin-right: 43px;
	cursor: pointer;
	height: 16px;
	margin-bottom: 15px;
	background: url(../img/check.png) no-repeat left top;
}
.groupSet label.checked {
	background-position: left -16px;
}
.loginSet label {
	color: #656565;
	margin-right: 30px;
	cursor: pointer;
	height: 13px;
	line-height: 13px;
	margin-bottom: 15px;
	background: url(../img/redbox.png) no-repeat left top;
}
.loginSet label:last-child {
	float: right;
}
.loginSet label.checked {
	background-position: left -13px;
}
.cleanhistory {
	margin-bottom: 20px!important;
}

/*登陆*/
#login {
	text-indent: 1.5em;
}
#personInfor.modal-dialog .modal-header {
	color: #fff;
	border: 1px solid #f93b22;
	background:#ef6361;
	padding: 10px;
	font-size: 14px;
}

#login .modal-content {
	width: 300px;
	margin: 0 auto;
}
#login input[type="text"],input[type="password"]{
    border: 1px solid #b27e30;
    width: 250px;
    margin-bottom: 10px;
    margin-left: -10px;
    display: block;
    margin: 10px auto;
}

#login .login {
	width: 250px;
	text-align: center;
	background: #ef6361;
	margin: 15px 0;
	margin-left: 10px;
	font-size: 16px;
	height: 38px;
}

#login .modal-header {
	background: url(../img/bg/group_set_bg.png) no-repeat;
	background-size: cover;
	height: 160px;
	color: #fff;
}
#login .modal-body {
	padding-bottom: 25px;
}
#login .loginImg {
	width: 110px;
	height: 110px;
	border-radius: 50%;
	margin-left: 80px;
}
.loginfooter {
	float: right;
	color: #9c9c9c;
	cursor: pointer;
}
.login1 {display: none;}
.login2 {
	margin-bottom: 49px;
	
}
.error {
	background: #fef4cb;
	height: 30px;
	line-height: 30px;
	color: #000;
	position: absolute;
	top: 100px;
	width: 299px;
	margin-left: -15px;
	text-align: center;
}